<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title><劍湖山世界></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.2.1
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class=""><button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button><button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button><button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button><button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button><button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <div class="logo mr-auto">
        <h1><a href="http://fancyworld.janfusun.com.tw/fancyworld.php">劍湖山世界</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          
          <li class="active"><a href="introduce?user=<%=user%>">介紹</a></li>
          <li class=""><a href="map?user=<%=user%>">地圖</a></li>
          <li class=""><a href="playground?user=<%=user%>">遊玩設施</a></li>
          <li class=""><a href="liked?user=<%=user%>">願望清單</a></li>
          <li class=""><a href="login">登出</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="https://www.facebook.com/janfusun0/" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="https://www.instagram.com/janfusunfancyworld/?hl=zh-tw" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="https://tw.linkedin.com/company/%E5%8A%8D%E6%B9%96%E5%B1%B1%E4%B8%96%E7%95%8C%E8%82%A1%E4%BB%BD%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8" class="linkedin"><i class="icofont-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>園區介紹</h2>
          <ol>
            <li><a href="introduce?user=<%=user%>">Home</a></li>
            <li>園區介紹</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="assets/img/playground.jpg" class="img-fluid" alt="">
            <img src="assets/img/G5.jpg" class="img-fluid" alt="">
          </div>

        </div>

        <div class="portfolio-description">
          <h2>介紹</h2>
          <p>
            劍湖山世界一開始以「主題樂園」打穩進軍休閒產業的基底，打造全國最大的親子樂園、創下全台第一家開幕以來年年集客人次達百萬以上的民營遊樂區、第一家年年榮獲產官學界評鑑為特優等的遊樂區等紀錄！
          </p>
          <p>
            其後成立劍湖山渡假大飯店為全台唯一動漫主題度假飯店、嘉義耐斯王子大飯店為彰雲嘉唯一五星級飯店及耐斯廣場購物中心！劍湖山世界綜合休閒、遊樂、文創、住宿、購物等複合式旅遊，適合休閒度假、會議及商務旅行，有陽光歡樂的地方就有劍湖山世界！
          </p>
          <p>
            2012年劍湖山世界取得日本卡通「北海小英雄」專屬授權，打造亞洲首座「北海小英雄」主題樂園「小威の海盜村」再度創下台灣休閒產業的首例。
          </p>
          <p>
            「追求卓越，保持領先」這就是劍湖山世界從過去、現在、以及永無止境的未來，始終秉持的經營理念與目標。
          </p>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main>
  <!-- End Hero -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>劍湖山世界</h3>
            <p>
              646雲林縣<br>
              古坑鄉<br>
              67號<br><br>
              <strong>Phone:</strong> +886-5-5825789<br>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          © Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0"> 
        <a href="https://www.facebook.com/janfusun0/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/janfusunfancyworld/?hl=zh-tw" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://tw.linkedin.com/company/%E5%8A%8D%E6%B9%96%E5%B1%B1%E4%B8%96%E7%95%8C%E8%82%A1%E4%BB%BD%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top" style="display: none;"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
      <nav class="mobile-nav d-lg-none">
        <ul>
          <li class="active"><a href="introduce?user=<%=user%>">介紹</a></li>
          <li class=""><a href="map?user=<%=user%>">地圖</a></li>
          <li class=""><a href="playground?user=<%=user%>">遊玩設施</a></li>
          <li class=""><a href="liked?user=<%=user%>">願望清單</a></li>
          <li class=""><a href="login">登出</a></li>
        </ul>
      </nav><div class="mobile-nav-overly"></div>
</body></html>